
/* AJUSTE PERFECTO Y CENTRADO PARA CELULARES */
@media screen and (max-width: 600px) {
    body {
        padding: 10px 5px;
        overflow-x: hidden;
    }

    /* Reducimos el tamaño para que ambas páginas (izquierda y derecha) quepan juntas */
    .escena-libro {
        width: 170px; /* Tamaño exacto de una hoja */
        height: 380px;
        margin-left: 155px !important; /* Centra el punto medio del libro en la pantalla */
        perspective: 1000px;
    }

    .cara {
        padding: 10px 8px;
    }

    .contenido-pagina {
        gap: 6px;
        padding: 2px;
    }

    /* Escalado proporcional de elementos internos */
    .pagina img {
        max-height: 110px;
        max-width: 95%;
    }

    .portada-cancion {
        height: 70px !important;
    }

    .reproductor-card {
        padding: 6px;
        gap: 4px;
    }

    .texto-cancion h3 {
        font-size: 0.75rem;
    }

    .texto-cancion p {
        font-size: 0.65rem;
    }

    h1 {
        font-size: 0.95rem !important;
    }

    h2 {
        font-size: 0.75rem;
        padding-bottom: 2px;
    }

    p {
        font-size: 0.68rem;
        line-height: 1.2;
    }

    .cupon {
        padding: 5px;
        font-size: 0.68rem;
    }

    .condicion {
        font-size: 0.6rem;
    }

    /* Botones de navegación abajo */
    .controles-libro {
        margin-top: 20px;
        gap: 8px;
    }

    .controles-libro button {
        padding: 8px 12px;
        font-size: 0.75rem;
    }
}
